<div class="text-center mt-3">
    <h2>{{predicate === 'liked' ? "Members I like" : "Members who like me"}}</h2>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-4">
            <div class="btn-group" name="predicate">
                <button 
                    class="btn btn-primary"
                    value="liked"
                    [style.backgroundColor]="predicate === 'liked' ? 'brown' : '' "
                    (click)="toggleLikes($event)"
                >Members I like</button>
                <button 
                    class="btn btn-primary"
                    value="likedBy"
                    (click)="toggleLikes($event)"
                    [style.backgroundColor]="predicate === 'likedBy' ? 'brown' : '' "
                >Members who like me</button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <ngb-pagination 
        [collectionSize]="pagination.totalItems" 
        [(page)]="page" 
        [pageSize]="pageSize"
        [boundaryLinks]="true"
        (pageChange)="pageChange($event)"
        
    />
</div>
